<p>shopping-list works!</p>
<div class="input-container">
    <input [(ngModel)]="newItem" placeholder="Adicione um item" />
    <button (click)="addItem()">Adicionar</button>
  </div>
  

<div *ngIf="!editMode">{{ item.name }}</div>
<input *ngIf="editMode" [(ngModel)]="item.name" />
<button (click)="editItem()">Editar</button>

<li [ngClass]="{ 'purchased': item.purchased }">
    {{ item.name }}
    <button (click)="togglePurchased()">Marcar como Comprado</button>
  </li>

  <h2>Não Comprados</h2>
<ul>
  <li *ngFor="let item of items" *ngIf="!item.purchased">
    {{ item.name }}
  </li>
</ul>

<h2>Comprados</h2>
<ul>
  <li *ngFor="let item of items" *ngIf="item.purchased">
    {{ item.name }}
  </li>
</ul>
<button (click)="deleteItem(index)">🗑️</button>
